# 1. Виртуальное окружение 
venv/
env/
.venv/

# 2. Секреты и пароли 
.env
.env.local

# 3. Байт-код питона 
__pycache__/
*.py[cod]
*$py.class

# 4. Базы данных
*.sqlite3
*.db

# 5. Настройки IDE
.vscode/

# 6. Системные файлы
.DS_Store
Thumbs.db

# 7. Логи
*.log